/**
 * Grid layout default style
 */

@import 'config'
@import 'mixins/box-shadow'

// main container
div.grd_Cont
    box-shadow(4px 4px 10px 0px rgba(50, 50, 50, 0.75))
    width                   800px
    height                  auto
    overflow                hidden
    padding                 3px 3px 3px 3px
    background-color        $grid-layout-bg-color
    border                  1px solid $grid-layout-border-color

    // filters' row
    .fltrow
        background-color    transparent

    // filters
    .flt
        border              1px solid $grid-layout-border-color
        width               100%

        :focus
            border          1px solid #558DD9

    // alternating background color
    .even
        background-color    #fff

    .odd
        background-color    #DFE8F6

// content table container
div.grd_tblCont
    height                  400px
    width                   800px
    background              #fff
    overflow-x              auto
    overflow-y              scroll

// headers' table container
div.grd_headTblCont
    height                  auto
    width                   800px
    overflow                hidden
    border-bottom           1px solid $grid-layout-border-color
    background-color        $grid-layout-bg-color

// tables
div.grd_tblCont table,
div.grd_headTblCont table
    border-collapse             collapse
    table-layout                fixed
    box-sizing                  initial

div.grd_tblCont table
    border-right                1px solid $grid-layout-border-color
    box-sizing                  initial

// headers
div.grd_tblCont table th
div.grd_headTblCont table th
    height                      $th-height
    background-color            $grid-layout-bg-color
    padding                     0.1em 0.5em
    color                       #333
    border-right                1px solid $grid-layout-border-color !important
    overflow                    hidden
    text-overflow               ellipsis

div.grd_headTblCont table td
    @extend div.grd_headTblCont table th
    padding                     0.2em 0.2em

div.grd_tblCont table td
    padding                     $padding
    border-bottom               1px solid $grid-layout-border-color
    overflow                    hidden
    text-overflow               ellipsis

// toolbar container
.grd_inf
    clear                       both
    width                       auto
    height                      $min-height
    background-color            $grid-layout-bg-color
    margin                      0
    padding                     1px 3px 1px 3px
    border-top                  1px solid $grid-layout-border-color

    // link appearence
    a
        color                   #333
        text-decoration         none
        font-weight             bold
        &:hover
            text-decoration     underline
            background-color    transparent

    input.reset
        &:hover
            background-color    transparent

    .mdiv
        width                   40% !important

    .ldiv
        div
            border              0

    .helpBtn
        border                  0 !important

    div.status
        position                absolute
        float                   none !important
        height                  auto !important
        margin                  19px 0 !important
        font-size               12px
        color                   #333
        border                  0 !important

    div.tot
        border                  0 !important
